extends layout

block content
    h1 #{title}
    form(method='POST', action='/medicines/edit/'+medicine._id)
        #form-group
            label Name
            input.form-control(name='name', type='text', value=medicine.name)
        #form-group
            label Company
            input.form-control(name='company', type='text', value=medicine.company)
        #form-group
            label Expiry Date
            input.form-control(name='expiry_date', type='date', value=medicine.expiry_date)
        input.btn.btn-primary(type='submit', value='submit')