extend layout 

block content 
    h1= medicine.name
    h6 Company:  #{medicine.company}
    h4 Expiry Date:  #{medicine.expiry_date}
    hr 
    a.btn.btn-default(href='/medicines/edit/'+ medicine._id) Edit 
    a.btn.btn-danger#delete-medicine(href='#', dataid=medicine._id) Delete